<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeWork</title>
    <style>
        .div{
            height: 50%;
            width: 50%;
            position: absolute;
        }
    </style>
    <link rel="stylesheet" href="../../css/normalize.css">
</head>
<body>
<div class="div" style="left: 0; top: 0; background: black">
    <div style="height: 100px; width: 100px; background: black; border-bottom-right-radius: 100%; position: absolute; z-index: 3; left: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: red; position: absolute; z-index: 2; left: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: black; border-top-right-radius: 100%; position: absolute; z-index: 3; left: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: red; position: absolute; z-index: 2; left: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: black; border-top-left-radius: 100%; position: absolute; z-index: 3; right: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: red; position: absolute; z-index: 2; right: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: black; border-bottom-left-radius: 100%; position: absolute; z-index: 3; right: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: red; position: absolute; z-index: 2; right: 0; top: 0"></div>
    <div style="height: 170px; width: 170px; background: black; position: absolute; margin: auto; z-index: 3; right: 0; left: 0; top: 0; bottom: 0"></div>
    <div style="height: 200px; width: 200px; background: red; border-radius: 100%; position: absolute; margin: auto; z-index: 2; right: 0; left: 0; top: 0; bottom: 0"></div>
</div>
<div class="div" style="right: 0; top: 0; background: red">
    <div style="height: 100px; width: 100px; background: red; border-bottom-right-radius: 100%; position: absolute; z-index: 3; left: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: black; position: absolute; z-index: 2; left: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: red; border-top-right-radius: 100%; position: absolute; z-index: 3; left: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: black; position: absolute; z-index: 2; left: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: red; border-top-left-radius: 100%; position: absolute; z-index: 3; right: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: black; position: absolute; z-index: 2; right: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: red; border-bottom-left-radius: 100%; position: absolute; z-index: 3; right: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: black; position: absolute; z-index: 2; right: 0; top: 0"></div>
    <div style="height: 170px; width: 170px; background: red; position: absolute; margin: auto; z-index: 3; right: 0; left: 0; top: 0; bottom: 0"></div>
    <div style="height: 200px; width: 200px; background: black; border-radius: 100%; position: absolute; margin: auto; z-index: 2; right: 0; left: 0; top: 0; bottom: 0"></div>
</div>
<div class="div" style="left: 0; bottom: 0; background: red">
    <div style="height: 100px; width: 100px; background: red; border-bottom-right-radius: 100%; position: absolute; z-index: 3; left: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: black; position: absolute; z-index: 2; left: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: red; border-top-right-radius: 100%; position: absolute; z-index: 3; left: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: black; position: absolute; z-index: 2; left: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: red; border-top-left-radius: 100%; position: absolute; z-index: 3; right: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: black; position: absolute; z-index: 2; right: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: red; border-bottom-left-radius: 100%; position: absolute; z-index: 3; right: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: black; position: absolute; z-index: 2; right: 0; top: 0"></div>
    <div style="height: 170px; width: 170px; background: red; position: absolute; margin: auto; z-index: 3; right: 0; left: 0; top: 0; bottom: 0"></div>
    <div style="height: 200px; width: 200px; background: black; border-radius: 100%; position: absolute; margin: auto; z-index: 2; right: 0; left: 0; top: 0; bottom: 0"></div>
</div>
<div class="div" style="right: 0; bottom: 0; background: black">
    <div style="height: 100px; width: 100px; background: black; border-bottom-right-radius: 100%; position: absolute; z-index: 3; left: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: red; position: absolute; z-index: 2; left: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: black; border-top-right-radius: 100%; position: absolute; z-index: 3; left: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: red; position: absolute; z-index: 2; left: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: black; border-top-left-radius: 100%; position: absolute; z-index: 3; right: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: red; position: absolute; z-index: 2; right: 0; bottom: 0"></div>
    <div style="height: 100px; width: 100px; background: black; border-bottom-left-radius: 100%; position: absolute; z-index: 3; right: 0; top: 0"></div>
    <div style="height: 100px; width: 100px; background: red; position: absolute; z-index: 2; right: 0; top: 0"></div>
    <div style="height: 170px; width: 170px; background: black; position: absolute; margin: auto; z-index: 3; right: 0; left: 0; top: 0; bottom: 0"></div>
    <div style="height: 200px; width: 200px; background: red; border-radius: 100%; position: absolute; margin: auto; z-index: 2; right: 0; left: 0; top: 0; bottom: 0"></div>
</div>
</body>
</html>